.header{
    font-family: "Montserrat";
    text-align: center;
    margin: 5vw;
    margin-top: 15%;
}


.question1, .question2, .question3{
    cursor: pointer;
    color: white;
    margin: 4% 10% 3% 10%;
    padding: 3%;
    background-color: #B03131;
    border-radius: 1em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.question1 p, .question2 p, .question3 p{
    display: none;
    font-family: "Montserrat";
}

i{
    float: right;
    font-size: 1em;
}


.question1 h2 , .question2 h2 , .question3 h2{
    font-size: 1.5em;
}
